{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browse Skills - SkillHive</title>
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/skills.css' %}" />
  </head>
  <body>
    <header>
      <h1><a href="{% url 'dashboard' %}">SkillHive</a></h1>
      <nav>
        <ul>
          <li>
            <a href="{% url 'dashboard' %}" class="btn-dash">Dashboard</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="btn-logout">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-log-out-icon lucide-log-out"
              >
                <path d="m16 17 5-5-5-5" />
                <path d="M21 12H9" />
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-cc">


      <div class="skills-ls">
        {% for skill in skills %}
        <div class="skill-cc">
          <div class="skill-hd">
            <p>{{ skill.title }}</p>
            <p>{{ skill.level }}</p>
          </div>

          <div class="skill-dn">
            <p>{{ skill.description }}</p>
          </div>
        

          <div class="skill-ds">
            <p>{{ skill.category }}</p>
            <p>{{ skill.user.full_name }}</p>
          </div>

          <div class="skill-btn">
            <button class="accept">
            <a href="{% url 'send_request' skill.id %}">Send Learning Request</a>
            </button>
          </div>
          
        </div>
        {% empty %}
        <p>No skills available at the moment.</p>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
